<section class="header">
  <h2 class="title">Angular, Material, and Skeleton Boiler Plate</h2>
  <div class="value-props row">
    <div class="four columns value-prop">
      This is the home route
    </div>
    <div class="four columns value-prop">
      Not sure what to put here for the boiler
    </div>
    <div class="four columns value-prop">
      Maybe an example table?...
    </div>
  </div>
</section>
    
<div class="row">
  <div class="column">
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Sex</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Dave Gamache</td>
          <td>26</td>
          <td>Male</td>
          <td>San Francisco</td>
        </tr>
        <tr>
          <td>Dwayne Johnson</td>
          <td>42</td>
          <td>Male</td>
          <td>Hayward</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>