<div class="navbar-spacer"></div>
<nav class="navbar">
  <div class="container">
    <ul class="navbar-list">
      <li class="navbar-item"><a class="navbar-link" [routerLink]="['']">Home</a></li>
      <li class="navbar-item"><a class="navbar-link" [routerLink]="['/about']">About</a></li>
      <li class="navbar-item"><a class="navbar-link" [routerLink]="['/examples']">Examples</a></li>
      <li class="navbar-item"><a class="navbar-link" [routerLink]="['/code']">Code</a></li>
    </ul>
  </div>
</nav>
